<div class="pure-g">
    <div class="pure-u-1">
      <h2>Damn this page doesn't exist!</h2>
      <h3>But dont worry. You can go back to the <a href="index.html">homepage</a>. Or you can go complain at the end of this hall:</h3>
      <img src="//giphy.com/embed/26FPqSW3io0nfgMUw">
    </div>
</div>
