<div class="pure-g">
    <div class="pure-u-1">
      <h2>Damn this page doesn't exist!</h2>
      <h3>But dont worry. You can go back to the <a href="index.html">homepage</a>. Or you can go complain at the end of this hall:</h3>
      <img src="http://68.media.tumblr.com/56481e7b5e9ffb9ae6ba51d76477ab37/tumblr_n2g7bysO7a1qza1qzo1_400.gif" alt="" width="50%" border="0">
    </div>
</div>
