<div class="pure-g">
      <div class="pure-u-1">
        <h2>Contact me</h2>
        <form>
          Voornaam:<br>
          <input type="text" name="voornaam"><br>
          Achternaam:<br>
          <input type="text" name="achternaam">
          E-mail:<br>
          <input type="text" name="email">
          Uw bericht:<br>
          <textarea  name="bericht" cols="25" rows="6"></textarea>
        </form>
      </div>
</div>
